# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.vscode

# testing
/coverage

# production
/build
*.exe
*.o

# Ignore documents and PDFs
*.pdf
*.doc*
*.ppt*
*.rtf

# Ignore cache and system files
*.cache
*.log
.DS_Store
Thumbs.db
__pycache__/

# Ignore compiled output
*.out
*.class
*.jar
*.war
*.ear
*.dll
*.so

# Ignore compilation output of ModelSim
*.mti
*.dat
*.dbs
*.psm
*.bak
*.cmp
*.jpg
*.html
*.bsf
*.mpf

# Ignore simulation output of ModelSim
wlf*
*.wlf
*.vstf
*.ucdb
cov*/
work/
transcript*
sc_dpiheader.h
vsim.dbg