# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.vscode

# testing
/coverage

# production
/build
*.exe
*.pdf
*.doc*
*.o
*.pptx

# ignore compilation output of ModelSim
*.mti
*.dat
*.dbs
*.psm
*.bak
*.cmp
*.jpg
*.html
*.bsf
*.mpf


# ignore simulation output of ModelSim
wlf*
*.wlf
*.vstf
*.ucdb
cov*/
work/
transcript*
sc_dpiheader.h
vsim.dbg

