//! **************************************************************************
// Written by: Map P.20131013 on Fri Apr 26 19:40:58 2024
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "Seg<10>" LOCATE = SITE "A5" LEVEL 1;
COMP "Seg<0>" LOCATE = SITE "B2" LEVEL 1;
COMP "Seg<1>" LOCATE = SITE "A2" LEVEL 1;
COMP "Seg<2>" LOCATE = SITE "B3" LEVEL 1;
COMP "Seg<3>" LOCATE = SITE "A3" LEVEL 1;
COMP "Seg<4>" LOCATE = SITE "B4" LEVEL 1;
COMP "Seg<5>" LOCATE = SITE "A4" LEVEL 1;
COMP "Seg<6>" LOCATE = SITE "C4" LEVEL 1;
COMP "Seg<7>" LOCATE = SITE "C5" LEVEL 1;
COMP "Seg<8>" LOCATE = SITE "D6" LEVEL 1;
COMP "Seg<9>" LOCATE = SITE "C6" LEVEL 1;
COMP "clock" LOCATE = SITE "V10" LEVEL 1;
PIN clock_pin<0> = BEL "clock" PINNAME PAD;
PIN "clock_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "clock_BUFGP/IBUFG" PERIOD = 10 ns HIGH 50%;
SCHEMATIC END;

